{% extends 'base.html' %}

{% block head_title %} Create movie {% endblock %}

{% block content %}
    <h1>Create movie</h1>

    {% if messages %}
        {% for message in messages %}
            {% autoescape off %}
                <div class="alert alert-success"> {{ message }}</div>
            {% endautoescape %}
        {% endfor %}

    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create movie</button>
    </form>
{% endblock %}